  body{
                padding: 5px;
                background-color:white;
                  margin-top:0;
                margin-left: 70px;
                margin-right: 70px;
        }
.header{
                display: flex;
                flex-wrap: wrap;
                height: 100px;
                background-color:#232f3e; 
                padding:3px;
            }
            .header a{
                text-decoration: none;
                color:white;
                font-size:40px;
                margin-left:20px;
                font-family: cursive;
            }
             .navbar{
                 margin-top: 2px;
                 display: flex;
                 background:skyblue;
             }
             .navbar a{
                 font-family: monospace;
                 font-size:20px;
                 color:white;
                 padding:15px;
                 text-decoration: none;
                 text-align: center;
                 border-right:2px solid black;
                 border-left:2px solid black;
             }
        .navbar a:hover{
            background-color:lightcyan;
            color:black;
             border-right:2px solid white;
                 border-left:2px solid white;
        }
        
        .active{
            background-color: red;
            
        }
            .container{
                padding:5px;
                 margin-top: 2px;
                 border:1px solid black;
                 height: 500px;
                display: flex;
                flex-direction: row;
                flex-wrap: wrap
                
            }
            
            
/*            .footer{
                margin-top: 2px;
                display: flex;
                flex-wrap: wrap;
                height: 100px;               
                box-sizing: border-box;
                background-color:#232f3e;  
            }*/
            
/*            same on all*/


